albumentations==0.4.5
cycler==0.10.0
decorator==4.4.2
future==0.18.2
imagecodecs==2020.2.18
imageio==2.8.0
imgaug==0.2.6
kiwisolver==1.2.0
matplotlib==3.2.1
networkx==2.4
numpy==1.18.4
opencv-python==4.2.0.34
opencv-python-headless==4.2.0.34
packaging==20.4
Pillow==7.1.2
pyparsing==2.4.7
python-dateutil==2.8.1
PyWavelets==1.1.1
PyYAML==5.3.1
scikit-image==0.17.2
scipy==1.4.1
six==1.15.0
tifffile==2020.5.11
torch==1.5.0
torchsummary==1.5.1
torchvision==0.6.0
tqdm==4.46.0
